body {
    margin: 0;
}

#header {
    height: 200px;
    background-image: url("img/bluesTheme.jpg");

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3em;
    color: silver;
    font-family: "Agency FB";

}

#menu {
    height: 40px;
    background-color: black;
    top: auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.3em;
}

#container{
    display: flex;
}

.box {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    background-color: lightcyan;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("img/depositphotos_150954060-stock-photo-blues-guitar-background.jpg");
}

a {
    color: lightgrey;
    font-style: initial;
}

.item-box {
    border-width: 2px;
    border-color: black;
    margin: 50px;
    width: 250px;
    height: 350px;
    background-color: lightgrey;


}

.item-box img {
    width: 230px;
    height: 200px;
    margin: 10px;
    background-color: gray;
    position: relative;
    justify-content: center;
    display: flex;
}

.item-box .item-name {
    justify-content: center;
    width: 230px;
    height: 30px;
    margin: 10px;
    background-color: gray;
    text-align: center;
    vertical-align: center;
}

.item-box .purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.purchase p{
    width: 100px;
    height: 30px;
    margin: 10px;
    text-align: center;
    background-color: gray;
    align-content: center;
}

.purchase button{
    width: 100px;
    height: 30px;
    margin: 10px;
    text-align: center;
    background-color: gray;
}

#cart {
    display: flex;
    flex-direction: column;
    height: auto;
    /*width: 20%;*/
    width: 390px;
    background-color: gray;
    right: auto;
}

.cart-buttons {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height:60px;
    margin: 10px;
    text-align: center;
    background-color: lightskyblue;
}

#buy, #empty-cart {
    display: flex;
    width: 150px;
    height: 40px;
    margin: 10px;
    justify-content: space-evenly;
    vertical-align: center;
    font-size: 1.25em;
}

.total-cart-price {
    display: flex;
    justify-content: center;
    width: auto;
    height:60px;
    margin: 10px;
    text-align: center;
    background-color: lightskyblue;
    font-size: 1.8em;
    font-variant-position: initial;
}

.itemsInBasket .divContainer {
    width: auto;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.8em;
}

.divContainer .item-name {
    width: 70%;
    height: 40px;
    margin: 0;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
}

.divContainer button {
    width: 80px;
    height: 40px;
    margin: 0;
    background-color: lightsteelblue;
    font-size: 0.9em;
}

.itemsInBasket .priceInBasket{
    width: 345px;
    height: 30px;
    margin-left: 18px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    margin-bottom: 20px;
}